@charset "utf-8";

/* Index ++++++++++++++++++++++++++++++++
	1.Common
	2.Header menu
	3.Header menu list
	4.Header Sub menu
	5.Search, RSS, Smartphone
	6.Authentication
	7.Social menu
+++++++++++++++++++++++++++++++++++++++ */



/* =================================================
	1.Common
================================================= */
#fc2wikimenu div,
#fc2wikimenu dl,#fc2wikimenu dt,#fc2wikimenu dd,
#fc2wikimenu ul,#fc2wikimenu ol,#fc2wikimenu li,
#fc2wikimenu input,#fc2wikimenu textarea,
#fc2wikimenu th,#fc2wikimenu td,#fc2wikimenu p {
	margin: 0;
	padding: 0;
}

* html {
	background: url(null) fixed;
}

body {
	padding-top:30px;
	height:100%;
	font-size: 82%;
}

html>/**/body {
	font-size: 13px;
}



/* =================================================
	2.Header menu
================================================= */

/*	2-1.Body
---------------------------------------- */
#fc2wikimenu {
	position:fixed !important;
	position:absolute; 
	top:0;
	left:0;
	min-width:950px;
	width:100%;
	background-color:#FAFAFA;
	border-bottom:1px solid #A1A1A1;
	font-family: Verdana, Helvetica, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif;
	font-size:12px;
	line-height:1.4;
	color:#707070;
	z-index:1000;
}

* html #fc2wikimenu {
	position: absolute;
	top: expression(eval(document.documentElement.scrollTop+0));
}

#fc2wikimenu a {
	text-decoration: none;
	/*\*/
	overflow: hidden;	/* for Fx */
	/**/
}

#fc2wikimenu .fc2wikimenu_body {
	height:18px;
	padding:4px 0;
	border-bottom:3px solid #EEEEEE;
}

* html #fc2wikimenu .fc2wikimenu_body {
	padding:4px 0 0 0;
}

/*	2-2.Hyper text
---------------------------------------- */
#fc2wikimenu a:link,
#fc2wikimenu a:visited {
	color:#707070;
}

#fc2wikimenu a:focus,
#fc2wikimenu a:hover,
#fc2wikimenu a:active {
	color:#4ca1e3;
}



/* =================================================
	3.Header menu list
================================================= */
#fc2wikimenu #header_menu {
	width:100%;
	text-align:left;
}

#fc2wikimenu #header_menu li {
	float:left;
	margin:2px 0 0 -1px;
	padding:0 0 0 30px;
	border-left:1px solid #EEEEEE;
	background:url(../img/100416headermenu.png) no-repeat 0 0;
}

#fc2wikimenu #header_menu li a {
	display:block;
	padding-right:5px;
}

#fc2wikimenu #header_menu li a .menuopen {
	background: transparent url(../img/dropmenu_open.png) no-repeat top right;
	padding-right:20px;
}

#fc2wikimenu #header_menu #fc2wikimenu_home {
	width:100px;
	padding-left:35px;
	background-position:15px 0px;
}

#fc2wikimenu #header_menu #fc2wikimenu_create {
	width:55px;
	background-position:10px -26px;
}

#fc2wikimenu #header_menu #fc2wikimenu_edit {
	width:55px;
	background-position:10px -52px;
}

#fc2wikimenu #header_menu #fc2wikimenu_list {
	width:90px;
	background-position:10px -78px;
}

#fc2wikimenu #header_menu #fc2wikimenu_help {
	width:70px;
	background-position:10px -130px;
}

#fc2wikimenu #header_menu #fc2wikimenu_login {
	width:70px;
	background-position:10px -52px;
}

#fc2wikimenu #header_menu #fc2wikimenu_rss {
	width:80px;
	background-position:10px -182px;
	border-right: 1px solid #EEEEEE;
	margin-right: 10px;
}

#fc2wikimenu #header_menu li .separated {
	border-bottom:1px solid #EEEEEE;
}



/* =================================================
	4.Header Sub menu
================================================= */
#fc2wikimenu #header_menu li ul {
	display:none;
	position:absolute;
	top:30px;
	width:280px;
	padding:5px 0;
	border-width:0 1px 1px 1px;
	border-color:#A1A1A1;
	border-style:solid ;
	background-color:#FAFAFA;
	list-style: none;
	z-index:5000;
}

#fc2wikimenu #header_menu li ul li {
	float:none;
	border:none;
	list-style: none;
	background-image: none;
	padding:5px 5px 5px 10px;
	/*background-position:5px -150px;
	padding:5px 5px 5px 25px;*/
}

#fc2wikimenu #header_menu li ul li a {
	padding:0;
}

#fc2wikimenu #header_menu li ul li a:hover {
	text-decoration:underline;
}

#fc2wikimenu #header_menu #fc2wikimenu_home #wikimenu_sub0 { left:1px; }
#fc2wikimenu #header_menu #fc2wikimenu_create #wikimenu_sub1 { left:134px; }
#fc2wikimenu #header_menu #fc2wikimenu_edit #wikimenu_sub2 { left:219px; }
#fc2wikimenu #header_menu #fc2wikimenu_list #wikimenu_sub3 { left:304px; }
#fc2wikimenu #header_menu #fc2wikimenu_help #wikimenu_sub4 { left:424px; }
#fc2wikimenu #header_menu #fc2wikimenu_rss #wikimenu_sub5_nologin { left:234px; }
#fc2wikimenu #header_menu #fc2wikimenu_rss #wikimenu_sub5_login { left:524px; }

/* =================================================
	5.Search, RSS, Smartphone
================================================= */

/*	5-1.Wiki Search
---------------------------------------- */
#fc2wikimenu #search_rss {
	position:absolute;
	top:5px;
	right:20px;
	width:200px;
	text-align:right;
}

#fc2wikimenu #search_rss .wiki_search {
	float:right;
	width:200px;
}

#fc2wikimenu #search_rss .search_form {
	width:120px;
	height:15px;
	background-color:#FFFFFF;
	color:#5F5F5F;
	font-family: "ＭＳ Ｐゴシック",sans-serif;
	text-align:left;
	vertical-align:middle;
	border:1px solid #999999;
}

#fc2wikimenu #search_rss .search_btn {
	width:55px;
	height:19px;
	background-color:#EAEAEA;
	border:1px solid #A1A1A1;
	font-family: "ＭＳ Ｐゴシック",sans-serif;
	vertical-align:middle;
	cursor:pointer;
}

/*	5-2.RSS Feed
---------------------------------------- */
#fc2wikimenu #search_rss .wiki_rss {
	float:right;
	width:16px;
	padding:4px 0 0;
}

#fc2wikimenu #search_rss .wiki_rss img {
	background:url(../img/headermenu.png) no-repeat 0 -104px;
}

/*	5-3.Smartphone
---------------------------------------- */
#fc2wikimenu #fc2wikimenu_mobile {
	position:absolute;
	top:2px;
	right:4px;
	width:15px;
	text-align:right;
}



/* =================================================
	6.Authentication
================================================= */
#fc2wikimenu #admin_auth {
	display:none;
	position:absolute;
	top:30px;
	left:0pt;
	width: 500px;
	padding:15px;
	border:1px solid #A1A1A1;
	background-color:#FAFAFA;
	text-align:left;
}

#fc2wikimenu #admin_auth p {
	margin: 0pt 0pt 10px;
	font-weight: bold;
}

#fc2wikimenu #admin_auth .password_form {
	margin:0pt 10px;
	padding: 2px;
	width:150px;
}



/* =================================================
	7.Social menu
================================================= */
#fc2wikimenu #header_menu li.social_menu {
	background: none;
	border: none;
	margin: 0;
	padding-left: 5px;
}

#fc2wikimenu #header_menu li.social_menu a {
	padding: 0;
}
